
<?xml version='1.0'?>
<!-- 
    Note: this file is used as a shell template, so all the quotes must be escaped
-->
<yandex>
	<!-- Listen wildcard address to allow accepting connections from other containers and host network. -->
	<!-- <listen_host>::</listen_host> -->
	<listen_host>0.0.0.0</listen_host>
	<listen_try>1</listen_try>

	<!-- <http_port>${CLICKHOUSE_HTTP_PORT}</http_port>
	<tcp_port>${CLICKHOUSE_TCP_PORT}</tcp_port>
	<interserver_http_host>${node}</interserver_http_host> -->
	<!--
	<logger>
		<console>1</console>
	</logger>
	-->
	<!-- Use users file from config/d subdir -->
	<!-- <users_config>config.d/users.inc</users_config> -->
</yandex>